* {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 80%;
    margin: 0 auto !important;
    background-image: url("https://www.tallengestore.com/cdn/shop/collections/Pablo_Picasso.jpg?v=1619622371");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .myForm {
    margin-top: 10vh;
  }
  
  .flexParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .divFlex {
    height: 100px;
    width: 100px;
  }
  
  .divFlex:nth-child(odd) {
    height: 100px;
    width: 200px;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: magenta;
  }
  
  img {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
  }
  
  li:nth-child(even) {
    background-color: turquoise;
  }
  li:nth-child(odd) {
    background-color: cyan;
  }
  
  @media screen and (max-width: 800px) {
    .blue {
      background-color: yellow;
    }
  }
  
  @media screen and (min-width: 800px) {
    .red {
      background-color: yellow;
    }
  }